<header class="main-header">
  <?php echo $this->Element('admin_header'); ?>
</header>
<aside class="main-sidebar">
  <?php echo $this->Element('sidebar_admin'); ?>
</aside>
<div class="content-wrapper">
  <section class="content-header header_dashbord">
    <h1>
      Coupon Listing
    </h1>
    <!-- <div class="customer_bts">
      <a href="
        <?php echo HTTP_ROOT ?>Coupons/add" class="scrolltodown">
        <button type="button" class="btn btn-sm btn-info">Add New Coupon</button>
      </a>
    </div> -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box box-info">
      <div class="box-header">
      <div class="printicon">
          <a onclick="myFunction()">
            <i class="fa fa-print fa-2x" aria-hidden="true"></i>
          </a>
        </div> 
        <!-- <div class="left-serach-option"><form class="sidebar-form search_bar" method="get" action="#"><div class="input-group"><input type="text" placeholder="Search by coupons name.." class="form-control" name="q"><span class="input-group-btn"><button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i></button></span></div></form></div> -->
        <!-- <div class="right-filter-option"><div class="box-filter"><form action="add" id="filteruserby" method="get"><select class="form-control" name="filterby" id="filterUser"><option value="">Filter By Name</option></select></form></div><a href="
        <?php echo HTTP_ROOT ?>Coupons/view" class="reset-filter"><button type="button" class="btn btn-sm btn-info">Reset filters</button></a></div> -->
        <div class="box-tools pull-right">
          <a href="<?php echo HTTP_ROOT ?>Coupons" class="btn btn-sm btn-info btn-flat pull-left">Back </a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>Name</th>
                <th>Coupon_code</th>
                <th>Amount</th>
                <th>Bar code</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <?php

                   if(isset($coupon) && count($coupon) > 0){ 
                       foreach ($coupon as $key => $value) {
                     ?>
              <tr>
                <td> <?php echo $coupon[0]['coupon']['name']; ?> </td>
                <td>
                  <?php echo $value['s_c_c']; ?>
                </td>                
                <td>
                  <?php echo $value['coupon']['price_value']; ?>
                </td>
                <td>
                  <img src="<?php echo HTTP_ROOT.'webroot/barcode/image.php?code='.$value['s_c_c']?>" alt="Barcode" style="max-width: 160px;">
                </td>
                <td>
                  <?php echo $value['use_status'] == 1 ? 'Used' : 'Unused'; ?>
                </td>
              </tr>
              <?php
                } 
              } else{ 
                ?>
              <tr>
                <td colspan="3" style="color:red;">No Coupons were found</td>
              </tr>
              <?php

                } ?>
            </tbody>
          </table>
          <?php

            if( count( $coupon ) > 0 )
            {                                
                ?>
          <div class="text-right">
            <div class="paginator">
              <nav>
                <ul class="pagination">
                  <?= $this->Paginator->prev('< ' . __('previous')) ?>
                  <?= $this->Paginator->numbers(['first' => 'First page']); ?>
                  <?= $this->Paginator->next(__('next') . ' >') ?>
                </ul>
              </nav>
              <?php echo $this->Paginator->counter(
              'showing {{current}} records out of
               {{count}} total'); ?>
            </div>
          </div>
          <?php } ?>
        </div>
      </div>
    </div>
  </section>
</div>
<style type="text/css">
  .delete_icon{ color: red; }
  .edit_icon{ margin-right: 10px; }
</style>
<script type="text/javascript">
  function myFunction() {
          window.print();
      }
</script>