<div class="box-body">
  <div class="">
<input type="hidden" id="user_customer_id" value="<?php echo $user_customer_id ?>">
 <div class="order-total-price">
              <table class="table no-margin">
                  <thead>
                  <tr>
                   <th>Date</th>
                   <th>Activity</th>  
                  </tr>
                  </thead> 
                  <tbody>
                   <?php 
                   $i = 1;
                   if(isset($useractivity) && count($useractivity)>0) { 
                       foreach ($useractivity as $useractivity) {
                         
                     ?>
                      <tr>
                      <td><?php echo $useractivity->date->format('d-M-Y');  ?></td>
                      <td><?php echo $useractivity->action.' '.preg_replace('/[^A-Za-z0-9().+\-]/', ' ', $useractivity->description).' on '.$useractivity->date->format('d M h:i A').' by '. $useractivity->user_name; ?></td>
                     </tr> 
                    
                <?php
                    $i++;
                      } 
                } else{ 
                ?>
                <tr>
                <td colspan="3" style="color:red;">No Activity were found</td>
                  
                </tr>
                <?php

                } ?> 
                  </tbody>
                </table>       


              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
           
            <!-- /.box-footer -->
          </div> 
          <!-- /.box -->
       



 
