<?php ?>
<script type="text/javascript">
function reloadlist() {
  var selectedyear = $('#invoiceyear').val();
  console.log(selectedyear);
  $('#Invoices').load("<?php echo HTTP_ROOT ?>Users/invoices", {'id': '<?php echo $id ?>','year': selectedyear}, function(data) {
  });
}
(function($, undefined){
  $(document).ready(function(){


           /*var region_id1 = $("#getarea").val();
           var area_id1 = $("#ajaxarea").val();
           var area_opt1 = $("#ajaxarea option:selected").text();
           var htmloption1 = '';
           $.ajax({
            url: "<?php echo HTTP_ROOT ?>Users/getArea",
            cache: false,
            data:{'id':region_id1},
            success: function(regionList1){
               var targetHtml1 = $("#ajaxarea");
                htmloption1 = '<option value="'+area_id1+'">'+area_opt1+'</option>';
               var regionList1 = JSON.parse(regionList1);
               var length1 = getLength(regionList1);
               if(length1){
                    $.each( regionList1, function( key, value ) {


                       htmloption1+='<option value='+key+' 'if(key == area_id1){ +"selected"+   }' >'+value+'</option>';
                     });
               }else{
                  htmloption1 = '';
                  htmloption1+='<option value="">Please add Area to this region First</option>';
               }
              targetHtml1.html(htmloption1);
            }
          });*/






    $(document).on('click', '.browse', function(){
  var file = $(this).parent().parent().parent().find('.file');
  file.trigger('click');
});

$(document).on('change', '.file', function(){
  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
});
   isValidAmount = 0;
   $('#amountNo').on("input", function() {
       var dInput = this.value;
        if( ( isFloat(dInput) || isInteger(dInput)) && dInput != '') {
          isValidAmount = 1;
        }else{
          isValidAmount = 0;
          this.value = '';
          $("#err_qty").show();
          $("#err_qty").text("Please enter the valid amount");
          $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
          return false;
        }
   });

      function isFloat(n) {
        return !!(n % 1);
    }

    function isInteger(value) {
         if ((undefined === value) || (null === value)) {
            return false;
        }
        return value % 1 == 0;
    }

    var prev_val1 = $("#ajaxarea").val();
    $("#ajaxarea").on('change', function(){
       var area_id = this.value;
       if (!confirm('Your current subscriptions will be deleted by changing Region/Area.')) {
        $(this).val(prev_val1);
          return false;        }
        });

        var prev_val = $("#getarea").val();
        $("#getarea").on('change', function(){
           var region_id = this.value;
           var htmloption = '';
           if (!confirm('Your current subscriptions will be deleted by changing Region/Area.')) {
              $(this).val(prev_val);
              return false;
            }
           $.ajax({
            url: "<?php echo HTTP_ROOT ?>Users/getArea",
            cache: false,
            data:{'id':region_id},
            success: function(regionList){
               var targetHtml = $("#ajaxarea");
                htmloption = '<option value="">Select Area</option>';
               var regionList = JSON.parse(regionList);
               var length = getLength(regionList);
               if(length){
                    $.each( regionList, function( key, value ) {
                       htmloption+='<option value='+key+'>'+value+'</option>';
                     });
               }else{
                  htmloption = '';
                  htmloption+='<option value="">Please add Area to this region First</option>';
               }
              targetHtml.html(htmloption);
            }
          });

        });
        var getLength = function(obj) {
                  var i = 0, key;
                  for (key in obj) {
                      if (obj.hasOwnProperty(key)){
                          i++;
                      }
                  }
                  return i;
              };


          $("#btn_submit").click(function(){

         var name = jQuery.trim( $("#name").val() );
         var phone = jQuery.trim ( $("#phoneNo").val() );
         var houseNo = jQuery.trim ( $("#houseNo").val() );
         var username = jQuery.trim ( $("#username").val() );
         var email_id = jQuery.trim($("#email_id").val() );
         var region = $("#getarea option:selected").val();
         var area = $("#ajaxarea option:selected").val();
         var customer = $("#customer option:selected").val();
         var radio_buttons = $("input[name='user_cat_type']");


        var user_id  = $('#user_customer_id').val();
        var phoneno = /^\d{10}$/;
        var result1;
         $.ajax({
            url: "ismobilealreadyExistEdit1",
            cache: false,
            type: 'POST',
            data:{'phone':phone,'user_id':user_id},
            success: function(result){
              var result1 = result;
              if(result =="found"){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("This mobile number already exists.Please choose another.");

              } else if(result =="invalid"){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("Invalid mobile number.");
              }
              else if(name == ''){
                $("#err_div").html("Please enter the name");
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
               }/*else if(username == ''){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("Please enter the Username");
               }*/
               else if (! /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email_id) && email_id != ""){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("Please enter the valid Email id");
               }else if(phone == ''){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("Please enter the phone");
               }else if((! phone.match(phoneno)))
                  {
                    $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                    $("#err_div").html("");
                    $("#err_div").text("Please enter a correct phone no");
                  } else if(region == ''){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("Please Select The Region First");
               }else if(area == ''){
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                $("#err_div").html("");
                $("#err_div").html("Please Select The Area First");
               }else if(houseNo == ''){
                  $("#err_div").html("");
                  $("#err_div").html("Please enter the Address");
                  $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                    return false
               }else{
                    $("#adminupload").submit();
                  }

            }

          });



 });
 });



$("#Subscriptions").ready(function() {


 $('#Subscriptions').load("<?php echo HTTP_ROOT ?>UserSubscriptions/customerSubscription", {'id': '<?php echo $id?>'}, function(data) {



  });

  $('#Transaction').load("<?php echo HTTP_ROOT ?>Users/usersBalance", {'id': '<?php echo $id ?>'}, function(data) {



  });

   $('#Container').load("<?php echo HTTP_ROOT ?>Users/usersContainers", {'id': '<?php echo $id ?>'}, function(data) {



  });

    $('#nextDelivery').load("<?php echo HTTP_ROOT ?>Users/nextDelivery", {'id': '<?php echo $id ?>'}, function(data) {



  });

    $('#Customorders').load("<?php echo HTTP_ROOT ?>UserSubscriptions/customOrders", {'id': '<?php echo $id?>'}, function(data) {



  });

     $('#Activity').load("<?php echo HTTP_ROOT ?>Users/activity", {'id': '<?php echo $id ?>'}, function(data) {



  });
     $('#Invoices').load("<?php echo HTTP_ROOT ?>Users/invoices", {'id': '<?php echo $id ?>'}, function(data) {



  });



});




})($);

</script>


<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  }
</style>



<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>

<div class="content-wrapper">
         <section class="content-header header_dashbord">
              <h1>




                  <?php echo $this->Element('addbalpopup') ?>



              </h1>



            </section>




    <!-- Main content -->
    <section class="content">

      <div class="box box-info">
            <div class="box-header ">




  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Profile">Profile</a></li>
    <li><a data-toggle="tab" href="#Subscriptions">Subscriptions</a></li>
    <li><a data-toggle="tab" href="#Transaction">Transaction Details</a></li>
    <li><a data-toggle="tab" href="#Container">Container Details</a></li>

    <li><a data-toggle="tab" href="#nextDelivery">Next Delivery</a></li>

    <li><a data-toggle="tab" href="#Customorders">Custom Orders</a></li>
    <li><a data-toggle="tab" href="#Activity">Activity</a></li>
    <li><a data-toggle="tab" href="#Invoices">Invoices</a></li>
  </ul>

  <div class="tab-content">

  <div class="form-group" id="err_div"></div>
 <div class="form-group" id="err_div_green" style="color:green;"></div>


    <div id="Profile" class="tab-pane fade in active">
        <?php echo $this->Element('customerprofile'); ?>
    </div>


    <div id="Subscriptions" class="tab-pane fade">



    </div>


    <div id="Transaction" class="tab-pane fade">


    </div>


    <div id="Container" class="tab-pane fade">


    </div>



    <div id="nextDelivery" class="tab-pane fade">


    </div>

    <div id="Activity" class="tab-pane fade">



    </div>
    <div id="Invoices" class="tab-pane fade">



    </div>

    <div id="Customorders" class="tab-pane fade">



    </div>


  </div>




</div>




        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</div>



<style type="text/css">
.sidebar-form.search_bar {
display: inline-block;
margin: 0;
vertical-align: bottom;
width: 30%;
}

.customer_bts .btn.btn-sm.btn-info {
  border: medium none;
  font-size: 13px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.header_dashbord h1 {
  display: inline-block;
}
.customer_bts {
  display: inline-block;
  float: right;
}
.box-tools.filter {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 10%; vertical-align: top;
}
.filter #filterUser {
  height: 39px;
  position: relative;
  top: -2px;
}
 .red{
    color:red;
  }
  .success{
    color: green;
  }
  .file {
  visibility: hidden;
  position: absolute;
}
 #err_div{
    color:red;
  }

</style>
