<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  }
 
</style>

<?php if(isset($region_id) && !empty($region_id)){
  ?>
  <script>
    $(document).ready(function(){
      regionid = '<?php echo $region_id ?>';
    });
  </script>
  <?php
  } ?>

<script type="text/javascript">
 $(document).ready(function(){
     
    $("#filterUser").on('change', function(){
           var filterby = this.value;
            
             if(filterby != ''){
               $("#filteruserby").submit();
             }
        }); 

        


        $("#getarea").on('change', function(){
           var region_id = this.value;
           if(region_id != '')
           {
            $("#filterbyregion").submit();
          }
        }); 


         $("#ajaxarea").on('change', function(){
           var r_id = $("#getarea").find('option:selected').val();
            
           $("#set_region_id").val(r_id); 

           $("#filterbyregionarea").submit();

           /*var region_id = this.value;
           regionid = region_id;
           var htmloption = '';  
           $.ajax({
            url: "<?php echo HTTP_ROOT ?>Users/getArea",
            cache: false,
            data:{'id':region_id},
            success: function(regionList){
              $("#getallarealist").show();
               var targetHtml = $("#ajaxarea");
                htmloption = '<option value="">Select Area</option>';               
               var regionList = JSON.parse(regionList);
               var length = getLength(regionList);
               if(length){ 
                    $.each( regionList, function( key, value ) { 
                       htmloption+='<option value='+key+'>'+value+'</option>';
                        
                     });
                   $("#filterbyregionarea").submit(); 
               }else{
                  htmloption = '';
                  htmloption+='<option value="">Please add Area to this region First</option>';
               }
              targetHtml.html(htmloption); 
            }
          });*/

        }); 




         var getLength = function(obj) {
                  var i = 0, key;
                  for (key in obj) {
                      if (obj.hasOwnProperty(key)){
                          i++;
                      }
                  }
                  return i;
              };      
         
 });
</script>
 
<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>  
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>

<div class="content-wrapper">
         <section class="content-header header_dashbord">
              <h1>
                  Notifications
              </h1>
          
            </section>

    
    <!-- Main content -->
    <section class="content">
      
      <div class="box box-info">
            
            </div>








            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                   <th><?php echo $this->Paginator->sort('UserNotifications.id', 'Id'); ?></th>
                   <th><?php echo $this->Paginator->sort('UserNotifications.message', 'Message'); ?></th>
                   
                    
                  </tr>
                  </thead>
                  <tbody>
                  <?php /* pr($user);die;*/
                   if(isset($user) && count($user) > 0){ 
                       foreach ($user as $key => $value) {
                     ?>
                      <tr>
              

              <td class="
               <?php if( isset($value['user_balances'][0]['balance'] )
                    &&
                  $value['user_balances'][0]['balance'] <= CUSTOMER_LOW_BALANCE_ALERT ) { echo 'alert alert-danger'; } ?>">

              <a target="_blank" href="<?php echo HTTP_ROOT ?>Users/customerProfile?id=<?php echo base64_encode($value['id']);?>"><?php echo $value['id']; ?></a>

              </td>
              <td>
                 <?php echo $value['message']; ?>
              </td>
                      

                        

                      
                    

                      </tr> 
                    
                <?php
                } 
              }else{
                ?>
                 
                  <tr colspan="4"><td style="color:red">Not Any Customers Found</td></tr>

                <?php } ?>

                  </tbody>
                </table>



<?php

            if( count( $user ) > 0 )
            {                                
                ?>
                                <div class="text-right">
                                       <div class="paginator">
                                            <nav>
                                               <ul class="pagination">
                                                    <?= $this->Paginator->prev('< ' . __('previous')) ?>
                                                     <?= $this->Paginator->numbers(['first' => 'First page']); ?>
                                                    <?= $this->Paginator->next(__('next') . ' >') ?> 
                                                </ul>
                                            </nav>
          <?php echo $this->Paginator->counter(
              'showing {{current}} records out of
               {{count}} total'); ?>
         


        </div>      
                                </div>
                                <?php } ?>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
           
            <!-- /.box-footer -->
          </div>



           























          <!-- /.box -->
        </div>
        <!-- /.col -->

         
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</div>



<style type="text/css">
.sidebar-form.search_bar {
display: inline-block;
margin: 0;
vertical-align: bottom;
width: 30%;
}

.customer_bts .btn.btn-sm.btn-info {
  border: medium none;
  font-size: 13px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.header_dashbord h1 {
  display: inline-block;
}
.customer_bts {
  display: inline-block;
  float: right;
}
.box-tools.filter {
    display: inline-block !important;
    margin-left: 10px;
    position: relative;
    width: 9%;
    vertical-align: top;
    /* float: left; */
}
.filter #filterUser {
  height: 39px;
  position: relative;
  top: -2px;
}

</style>