<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  }
</style>




 


 


         








            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                   <th>Allotted Container</th>
                   <th>Left Container</th> 
                   
                  </tr>
                  </thead>
                  <tbody>
                  <?php 
                   if(isset($container) && count($container) > 0 && isset($allotedContainers)){ 
                      
                     ?>
                      <tr>
                     <td><?php echo $allotedContainers['container_count']?></td>  
                     <td><?php echo $container['left_container_count']?></td> 
                       
                     
                      </tr> 
                    
                <?php
                 
              }else{
                ?>
                 
                  <tr colspan="4"><td style="color:red">Not Any Containers Found</td></tr>

                <?php } ?>

                  </tbody>
                </table>

                 
                 





















              </div>
            </div>
            <!-- /.box-body -->
           
            <!-- /.box-footer -->
          </div>



           



















<input type="hidden" id="user_customer_id" value="<?php echo $user_customer_id ?>">



          <!-- /.box -->
        </div>
        <!-- /.col -->

         
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</div>



<style type="text/css">
.sidebar-form.search_bar {
display: inline-block;
margin: 0;
vertical-align: bottom;
width: 30%;
}

.customer_bts .btn.btn-sm.btn-info {
  border: medium none;
  font-size: 13px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.header_dashbord h1 {
  display: inline-block;
}
.customer_bts {
  display: inline-block;
  float: right;
}
.box-tools.filter {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 10%; vertical-align: top;
} 
.filter #filterUser {
  height: 39px;
  position: relative;
  top: -2px;
}

</style>