<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  } 
</style>

<input type="hidden" id="user_customer_id" value="<?php echo $user_customer_id ?>">
                   
                  <table class="table no-margin">
                  <thead>
                  <tr>
                   <th>Transaction ID</th>
                   <th>Transaction Type</th>  
                   <th>Transaction Amount</th>
                   <th>Remaining Balance</th>
                   <th>Transaction Description</th>                   
                   <th>Online Transaction Id</th>                   
                   <th>Schedule</th>
                   <th>Date</th>
                   <th>Action</th>
                   
                  </tr>
                  </thead>
                  <tbody>
                  <?php

                   if(isset($transaction) && count($transaction) > 0){ 
                       foreach ($transaction as $key => $value) {
                     ?>
                      <tr>
                      <td><?php echo $value['id']; ?></td>
                      <td><?php echo $value['transaction_amount_type']; ?></td>
                      <td><?php echo 'Rs '.number_format((float)$value['amount'], 2, '.', ''); ?></td>
                      <td><?php if($value['balance'] != 0){ echo 'Rs '.number_format((float)$value['balance'], 2, '.', ''); }else { echo "--"; } ?></td>
                        
                      
                       <td>
                        <?php 
                       if($value['transaction_type_id'] == 8){
                        if($value['status']==0){
                          echo 'Online Recharge'."(failed)";
                        }else{
                        echo 'Online Recharge';
                        }
                       }
                       if(isset($value['transaction_type']['transaction_type_name'])){
                        if($value['status']==0 && $value['payment_gateway_type'] == 'Paytm'){
                          echo $value['transaction_type']['transaction_type_name']."(failed)";
                        }else{
                        echo $value['transaction_type']['transaction_type_name'];
                        }
                       }
                        if(isset($value['refund_type']['refund_reasons'])){
                        echo ' ( '.$value['refund_type']['refund_reasons'] .' ) ';
                       }
                       if(@$value['refund_type_id'] == 99 ){
                        echo ' ( '.$value['refund_reason'] .' ) ';
                       }
                       ?></td>
                      
                       <td><?php echo $on_id = isset($value['online_transaction_id']) ? $value['online_transaction_id'] : '---'; ?></td>
                      <td><?php if($value['delivery_schdule_id'] != 0) { echo $value['delivery_schdule']['name']; } else { echo "----"; } ?></td>

                        <td><?php if(isset($value['created'])&&!empty($value['created'])){ echo $value['created']->format('d-M-Y'); } else { echo "----"; } ?>&nbsp;&nbsp;<?php if(isset($value['time'])&&!empty($value['time'])){ echo $value['time']->format('H:i:s'); } else { echo "----"; } ?></td>
                        <td>
                          <a target="blank" href="<?php echo HTTP_ROOT; ?>Users/viewtransaction?id=<?php echo base64_encode($value['id']);?>">
                            View
                          </a>
                        </td>
                      
                      </tr> 
                    
                <?php
                } if(count($transaction) == 30){ ?>
                    <tr><td><a href="<?php echo HTTP_ROOT."Transactions/index?transaction_type_id=&area_id=&user_id=".base64_encode($user_customer_id) ?>">View all</a></td></tr>
              <?php } 
              } else{ 
                ?>
                <tr>
                <td colspan="3" style="color:red;">No Transaction were found</td>
                  
                </tr>
                <?php

                } ?>

                  </tbody>
                </table>
 










































            


           




















<style type="text/css">
.sidebar-form.search_bar {
display: inline-block;
margin: 0;
vertical-align: bottom;
width: 30%;
}

.customer_bts .btn.btn-sm.btn-info {
  border: medium none;
  font-size: 13px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.header_dashbord h1 {
  display: inline-block;
}
.customer_bts {
  display: inline-block;
  float: right;
}
.box-tools.filter {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 10%; vertical-align: top;
} 
.filter #filterUser {
  height: 39px;
  position: relative;
  top: -2px;
}

</style>

