<?php
pr($permissionsList);
?>
 <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Dairy Admin</a>
        </div>
      </div>
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu"> 

        <li class="treeview">
              <a href="#">
                 
                <span>Subscription</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              
              <ul class="treeview-menu">
                
                <li><a href="#">Subscription List</a></li>
                <li><a href="#">Add Subscription</a></li>
                
                 
              </ul>
          </li> 

         
           

   <li class="treeview">
              <a href="#">
                 
                <span>Orders</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              
              <ul class="treeview-menu">
                
                <li><a href="#">Order List</a></li>
                <li><a href="#">Today's Order</a></li>
                <li><a href="#">Place Order</a></li>
                
                 
              </ul>
          </li>


           <li class="treeview">
              <li><a href="#">containers Need Today</a></li>
           </li>


            <li class="treeview">
              <li><a href="#">Product Need Today</a></li>
           </li>

           




     </ul>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->