
<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  }
</style>


 

   

            <!-- /.box-header -->
            <div class="box-body">
              <div class="">

             
           

<input type="hidden" id="user_customer_id" value="<?php echo $user_customer_id ?>">



              <div class="order-total-price">

                   
             
                  <?php pr($response); ?>
                  <?php if(isset($response['subscriptionItems']['subscriptionInfo']) && count($response['subscriptionItems']['subscriptionInfo'])>0) {
                   ?>
                  <div class="delivery-time">
                   <p class="" >Delivery time:-<?php echo $response['subscriptionItems']['subscriptionInfo'][0]['timeToBeDeliver'].'   '.$response['subscriptionItems']['subscriptionInfo'][0]['between']; ?></p>
                   <h6 class="">Total Order Price: <?php echo 'Rs '.$response['subscriptionOrderTotalPrice']; ?></h6>
                  </div>
                   <?php } ?>





                       <table class="table no-margin">
                  <thead>
                  <tr>
                   <th>Product Name</th>
                   <th>Price</th>  
                   <th>Quantity</th>
                   <th>Unit</th>  
                   
                  </tr>
                  </thead>
                  <tbody>
                  <?php

                   if(isset($response['subscriptionItems']['subscriptionInfo']) && count($response['subscriptionItems']['subscriptionInfo']) > 0){ 
                       foreach ($response['subscriptionItems']['subscriptionInfo'] as $key => $value) {
                     ?>
                      <tr>
                      <td><?php echo $value['name']; ?></td>
                      <td><?php echo 'Rs '.$value['price']; ?></td>
                      <td><?php echo $value['quantity']; ?></td> 
                      <td><?php echo strtoupper($value['unit']); ?></td> 
                      </tr> 
                    
                <?php
                } 
              } else{ 
                ?>
                <tr>
                <td colspan="3" style="color:red;">No Subscriptions were found</td>
                  
                </tr>
                <?php

                } ?>


           <?php  if(isset($response['orderItems']) && count($response['orderItems']) > 0){ 
                       foreach ($response['orderItems'] as $key => $value) {
                     ?>
                      <tr>
                      <td><?php echo $value['name']; ?></td>
                      <td><?php echo 'Rs '.$value['price']; ?></td>
                      <td><?php echo $value['quantity']; ?></td> 
                      <td><?php echo strtoupper($value['unit']); ?></td> 
                      
                      </tr> 
                    
                <?php
                } 
              }  
                ?>
                 
                  </tbody>
                </table>       


              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
           
            <!-- /.box-footer -->
          </div> 
          <!-- /.box -->
       



<style type="text/css">
.sidebar-form.search_bar {
display: inline-block;
margin: 0;
vertical-align: bottom;
width: 30%;
}

.customer_bts .btn.btn-sm.btn-info {
  border: medium none;
  font-size: 13px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.header_dashbord h1 {
  display: inline-block;
}
.customer_bts {
  display: inline-block;
  float: right;
}
.box-tools.filter {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 10%; vertical-align: top;
} 
.filter #filterUser {
  height: 39px;
  position: relative;
  top: -2px;
}

</style>

