<?php
pr($permissionsList);
?>
 <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Sales and Finance Admin</a>
        </div>
      </div>
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
       
        <li>
          <a href="#">
             <span>Sales</span>
           </a>
        </li> 
         <li>
          <a href="#">
             <span>Finance</span>
           </a>
        </li>     
                      

     </ul>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->