 
<style type="text/css">
#err_div{
        color:red;
      }

  .red{
    color:red;
  }
  .success{
    color: green;
  }
  .delivvery_place_list{position:relative;}
.delivvery_place_list .delete {
    position: absolute;
    right: 15px;
    top: 3px;
}
 
<style type="text/css">
.add_div{margin-bottom: 30px;}
  .checkbox-section {
    margin: 0;
    padding: 0;
}


ul.checkbox-section li.checkbox {
    display: inline-block;
    margin-right: 10px;
}

  .red{
    color:red;
  }
  .success{
    color: green;
  }
  #loadingmessage {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
</style>
 
 

</style>
 
<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>  
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>




<div style="display:none">
 <div class="col-sm-4 select_box onlyselectboxhtml">

        <select class="form-control selectchange">
           
    <option>Select Region/Area</option>
           <?php
                              if(isset($allRegionAreas) && count($allRegionAreas) > 0)
                              {
                                foreach ($allRegionAreas as $key => $value) {
                                   
                                 
                                  
                                
                              ?>
                                  <option value="<?php echo $value['region_area_id'] ?>"><?php echo $value['region_area_name'] ?></option>
                      
                            <?php 
                              
                          }
                         }else{
                              ?>
                              <p class="red">Please add Region/Area First</p>
                              <?php
                              } ?>
          
        </select> 
    </div>
</div>



<div style="display:none">



  <div class="col-sm-6 checkboxes onlyforchekboxeshtml">
       <ul class="checkbox-section"> 


         <?php
                              if(isset($DeliverySchdules) && count($DeliverySchdules) > 0)
                              {
                                foreach ($DeliverySchdules as $key => $value) {
                                  
                              ?>
                                 
                               <li class="checkbox">
                                    
                                    <label><input rel="<?php echo $key ?>" type="checkbox" value="<?php echo $key ?>" name="deliverytiming[]"><?php echo $value; ?></label>
                                </li>
                              
                              <?php
                              } 
                            }else{
                                ?>
                                <p class="red">Please add Delivery Schdules Timing ( Morning,Evenning and Afternoon Timing ) First Before add Category</p>
                                <?php
                                } ?> 
      </ul>
    </div>
 
</div> 
<div class="content-wrapper">
         <section class="content-header">
              <h1>
                Dashboard
              </h1>
             
              <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
              </ol>
            </section>

    
    <!-- Main content -->
    <section class="content">
      
       

          <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Edit Category</h3>
                 
                  <div class="box-tools pull-right">
                 
                  <a href="<?php echo HTTP_ROOT?>Categories/add" class="btn btn-sm btn-info btn-flat pull-left">Back </a>
                 
              </div>


              </div>
            
            <div class="box-body">
<form method="post" id="addProductForm">
<div class="form-group" id="err_div"></div>
                 <div class="form-group" id="err_div_green" style="color:green;"></div> 

             <div class="row">
                  <div class='col-sm-4'>

                    <form method="post" id="addProductForm">
                      
                           <div class="form-group required">
                            
                                <label for="exampleInputEmail1">Name</label>
                                
                                <input type="text" maxlength="40" required class="form-control" id="" name="name" value="<?php if(isset($data['name'])){ echo $data['name']; } ?>">
                                
                                <?php if(isset($error['name'])){
                                  ?>
                                  <p class="red"><?php echo $error['name']; ?></p>
                                  <?php
                                  } ?>

                             </div> 

       
                             
                            <input type="hidden" name="status" value="1">
                            <input type="hidden" name="id" value="<?php echo $data['id']; ?>">



                      </div>
                </div> 





       



       <!-- EDIT CATEGORY MAIN PART START -->
       <div class="box box-info">
           
            
            <div class="box-body add_after_more">

                 



                    
<div class="row add_div ">
  

  

  <div class="col-sm-12 form-group area_region">

   
    
    <label>Edit delivery Places</label>
    <a href="javascript:void(0)" id="add" class="btn btn-primary pull-right">Add More</a>
    <br><br>
    <div class="row">
    

       
           <?php
                              if(isset($makeselectedseprate) && count($makeselectedseprate) > 0)
                              {
                                /*pr($makeselectedseprate);die;*/
                                foreach ($makeselectedseprate as $key => $value11) {


                               ?>
<div class="col-sm-4 select_box appendafterselectbox">
                                <select class="form-control selectchange">
           
                                <option>Select Region/Area</option>





                             <?php

                                   
                                foreach ($allRegionAreas as $k => $v) {
                                  
                                
                              ?>
                                  <option value="<?php echo $v['region_area_id'] ?>" 

                                   <?php
                                    if($v['region_area_id']==$key)
                                    {
                                      ?>
                                      selected="selected"
                                      <?php
                                    }
                                   ?>

                                  ><?php echo $v['region_area_name'] ?></option>
                      
                            <?php 
                             }



                           ?>
                            </select>

                            </div>


                        



 <div class="col-sm-6 checkboxes forchekboxes">
        


         <?php
                              if(isset($selectedTiming) && count($selectedTiming) > 0)
                              {
                                

                               // foreach ($selectedTiming as $key => $value) {

                                  ?>
                               <ul class="checkbox-section">   
                                  <?php

                                $delivertimingForThisRegionArea = $value11['deliverytimingid'];
                                /*pr($DeliverySchdules);
                                pr($delivertimingForThisRegionArea);die;*/

                                foreach ($DeliverySchdules as $k => $v) {
                                   
                                
                                  
                              ?>
                                 
                               <li class="checkbox">
                                    
                                    <label>



                                    


                                    <input rel="<?php echo $k ?>" class="checkboxesclick" type="checkbox" value="<?php  

                                    if(in_array($k, $delivertimingForThisRegionArea)){ 
                                    echo $key.'_'.$k;
                                    }else{
                                      echo $k;
                                    }



                                     ?>" name="deliverytiming[]" <?php 
                                          
                                           if(in_array($k, $delivertimingForThisRegionArea)){
                                            ?>
                                            checked
                                            <?php
                                           }

                                    ?> ><?php echo $v; ?>










                                    </label>
                                </li>
                              
                              <?php
                              } 
                              ?>
                               </ul>
                              <?php
                            //}




                            }else{
                                ?>
                                <p class="red">Please add Delivery Schdules Timing ( Morning,Evenning and Afternoon Timing ) First Before add Category</p>
                                <?php
                                } ?>









     
    </div>

    <a href="javascript:void(0)" class="btn btn-danger delete kop">Delete</a>  


                            <?php
                           }
                         

                         }
                          ?>
          
       




 
</div>

    
    </div> 

</div>

                <div id='loadingmessage' style="display:none;">
                <img id="loading" src='<?php echo HTTP_ROOT ?>img/ajax-loader.gif'/>
               </div>

               
               
            </div>


             <input type="button" id="submit" class="btn btn-primary" value="Submit"> 

                
                </form>
            
          </div>



       <!-- EDIT CATEGORY MAIN PART END HERE -->




                 
                </form> 
            </div> 
          </div> 
        </div> 
      </div> 
    </section>
</div>



<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('change','.selectchange',function(){

                   
                   var selectare = $(this).val();
                    
                   // $(this).parent().siblings(".checkboxes").find('input[type=checkbox]').each(
                   $(this).parent().next(".checkboxes").find('input[type=checkbox]').each(
 //$(".addtask").parent().next(".field")
                      function () {
                         
                         var timing = $(this).attr('rel');
                         
                         var are_region_timing_id = selectare+'_'+timing;
                         $(this).val('');
                         $(this).val(are_region_timing_id);    
                          
                   
                    });
                    
        });



        $(".checkboxesclick").change(function() {   
          if(this.checked) {
            var selectare = $(this).parent().closest('div').prev('div').find("option:selected").val();
            if(selectare!=''){
                  
                         var timing = $(this).attr('rel');
                         var are_region_timing_id = selectare+'_'+timing;
                         $(this).val('');
                         $(this).val(are_region_timing_id); 


            }else{
              return false
            }



          }else{


          }
      });

        var selectunithtml = $(".onlyselectboxhtml").html();
        var checkboxes = $(".onlyforchekboxeshtml").html();
        //var remove = '<a href="javascript:void(0)" class="btn btn-primary delete">Delete</a>';
        $("#add").click(function (e) {
           
         
          

          $(".add_after_more").append('<div class="row delivvery_place_list"><div class="col-sm-4 select_box appendafterselectbox">'+selectunithtml+'</div><div class="col-sm-6 checkboxes forchekboxes">'+checkboxes+'</div><a href="javascript:void(0)" class="btn btn-danger delete">Delete</a></div>');
          // $(".area_region").append(''); 
         // $(".area_region").append(remove);

});
             

      });
    </script>



<script type="text/javascript">
  $(document).ready(function(){


$("#add").click(function (e) {
   
 var selectunithtml = $("#regionareaselection").html();
 var timinghtml = $("#deliverytiming").html(); 

 $("#items").append('<div class="appendediv append"><div> <select class="form-control" name="region_area[]">'+selectunithtml+'</select></div><div>'+timinghtml+'</div><a href="javascript:void(0)" class="delete">Delete</a></div>'); });




$("body").on("click", ".delete", function (e) {
    $(this).prev('div').remove();
    $(this).prev('div').remove();
    $(this).remove()
    
});


$("#submit").click(function(){
    $('#loadingmessage').show();
    $.ajax({
         type: 'POST',
         url:  "edit",
         data: $('#addProductForm').serialize(), 
         success: function(response) {
            var isError = JSON.parse(response);
            if(isError.statuscode == 200){
                $('#loadingmessage').hide();  
                $("#err_div").hide();
                $("#err_div_green").show();
                //$("#err_div_green").text(isError.name);
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
                setTimeout(function(){
                  window.location.reload();
                },1000);
                

            }else{
                $('#loadingmessage').hide(); 
                $("#err_div").hide();
                $("#err_div").text(isError.name);
                $("#err_div").show();
                $('html, body, .content-wrapper').animate({ scrollTop: 0 }, "slow");
            }
         },
        error: function() {
             
        }
     });
});











});
</script>