<html>
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <h1>Our Address</h1>
    <p><?php if(isset($user[0]['address'])){ echo $user[0]['address']; } ?></p>
    <h1>Fell free to call us</h1>
    <h5><?php if(isset($user[0]['name'])){ echo $user[0]['name']; } ?></h5>
    <h5><?php if(isset($user[0]['phoneNo'])){ echo $user[0]['phoneNo']; } ?></h5>
    <h3>Email Address</h3>
    <?php if(isset($user[0]['email_id'])){  
    	$email = explode(',', $user[0]['email_id']);   foreach ($email as $key => $value) { ?>
    	<p><?php echo $value; ?></p>
   <?php  } ?>
  	
  	<?php  } else { ?>
  	<p>No email found</p>
  	<?php } ?>



  </body>
</html>