<style type="text/css">
  #map_wrapper {
    height: 500px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

</style> 
<?php echo $this->Html->css('neo.css'); ?>
<?php echo $this->Html->css('samples.css'); ?>
<?php  echo $this->Html->script('ckeditor.js');   ?>
<?php  echo $this->Html->script('sample.js');   ?>

<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>  
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>

<div class="content-wrapper">
         <section class="content-header header_dashbord">
             <h3><?= __('C') ?></h3> 
            </section>





    
    <!-- Main content -->
    <section class="content">




      
      <div class="box box-info">
            <div class="box-header"> 

              <div class="box-tools pull-right">
                 
                 <!--  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Add New Subscription Type </a> -->
                 
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">



     <!-- routes of drivers -->
     
        <form>
        
              <label> Enter Title </label>
              <input type="text" name="title">
              
              <label> Enter Address </label>
              <input type="text" name="address">
          
              <label> Enter Description </label>
              <textarea name="description"> </textarea>
       
          </form>
    


    <main>
  <div class="adjoined-top">
    <div class="grid-container">
      
    </div>
  </div>
  <div class="adjoined-bottom">
    <div class="grid-container">
      <div class="grid-width-100">
        <div id="editor">
          
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container">
    
  </div>
</main>
    <!-- routes of drivers section end -->

        
               
            </div>
             
          </div>



          
      </div> 
    </section>
</div>
<script>
  initSample();
</script>
