 
<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  }
  #err_div{
    color:red;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
     
      //$(".success").fadeOut(4000);
  
  });

 

</script>
<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>  
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>

<div class="content-wrapper">
         <section class="content-header">
              <h1>
                Add Vehicle
              </h1>
             
               
            </section>

    
    <!-- Main content -->
    <section class="content">
      
       

          <div class="box box-info">
          
              <div class="box-header">

                <h3 class="box-title"></h3>

              </div>
            
            <div class="box-body">

             <div class="row">
                  <div class='col-sm-4'>
                 
                   <form action="changeRouteDriver" method="post">
                      <div class="form-group" id="err_div"></div>
                           <div class="form-group">

                           <?php if(isset($error['vehicle_no'])){
                                  ?>
                                  <p class="red"><?php echo $error['vehicle_no']; ?></p>
                                  <?php
                                  } ?>
                            
                                <label for="exampleInputEmail1">Route Name</label>
                                 
                                <input type="text" disabled class="form-control" value="<?php if(isset($nameroute)) {
                                  echo $nameroute;
                                  } ?>"> 

                             </div> 


                             <input type="hidden" name="route_id" value="<?php echo $route_id ?>">





                             <div class="form-group">
                            
                                <label>Driver</label>

                                <select class="form-control" required name="user_id">
                                <option value="">Select Driver</option>
                                    <?php if(isset($drivers)&&count($drivers)>0){
                                               
                                               foreach ($drivers as $key => $value) {
                                                   ?>
                                                   <option value="<?php echo $key ?>"><?php echo $value; ?></option>
                                                   <?php
                                               }

                                    }else{
                                        ?>
                                        <option value="">Please add Driver First</option>  
                                        <?php
                                        } ?>
                                   
                                
                                </select>
                                
                                 <?php if(isset($error['driver_id'])){
                                  ?>
                                  <p class="red"><?php echo $error['driver_id']; ?></p>
                                  <?php
                                  } ?> 
                             </div> 

       
                          


                      </div>
                </div> 
                 <input type="submit" id="btn_submit" class="btn btn-primary" value="Submit"> 
                </form> 
            </div> 
          </div> 
        </div> 
      </div> 
    </section>
</div>


 