<style type="text/css">
     #sortable{
      list-style: none;
     }
     .inner {
    width: 100%;
    margin: 10px;
    height: 30px;
    text-align: center;
    background: #9fdfff;
  }

</style>

 
<script type="text/javascript">
  $(document).ready(function(){
     
      $(".success").fadeOut(4000);
  
  });
</script>
<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>  
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>

<div class="content-wrapper">
         <section class="content-header">
              <h1>
                Dashboard
              </h1>
             
             
            </section>

    
    <!-- Main content -->
    <section class="content">
          <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Drag/Drop Customer Route Orders For Delivery Preference</h3>
              </div>
            
            <div class="box-body">


               <!-- customer -->
            <ul id="sortable">
                  <?php
                     if(count($routeCustomer)>0){

                      foreach ($routeCustomer as $key => $value) {
                        
                       
                    ?>
                        <li class="inner" id="user_<?php echo $value['user']['id']; ?>"><?php echo '#'.$value['user']['houseNo'].'-'.$value['user']['name'].'-'.$value['region']['name'].' '.$value['area']['name']  ?></li>

                        

                    <?php
                  }
                     }else{
                      ?>
                      <p>Customer Not Found With This Route</p>
                      <?php
                     }
                   ?>

                  <!-- <li id="user_20">Item 1</li>
                  <li id="user_30">Item 2</li> -->

           </ul>
            <!-- customer -->

             
          </div> 
                 
        </div>  



          </div> 
        </div> 
      </div> 
    </section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script type="text/javascript"> 

window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}

$(document).ready(function () {

    $('ul').sortable({
        axis: 'y',
        stop: function (event, ui) {
          var data = $(this).sortable('serialize');
            
            $.ajax({
                data: data,
                type: 'POST',
                url: '<?php echo HTTP_ROOT ?>Routes/order'
            },function(res){
                  console.log(res);
                  if(res=="Success"){
                   window.location.reload();
                  }else{
                    alert('Something Went Wrong PLease try again')
                  }              
            });
  }
    });
});

</script>