<?php /*echo $this->Html->css('imageuploader');
      echo $this->Html->script('imageuploader');*/
 ?>
 <style type="text/css">
#field2 { display: none }
.thumb { width: 80px; height: 80px; margin: 0.2em -0.7em 0 0; }
.remove_img_preview { position:relative; top:-35px; right:0px; background:black; color:white; border-radius:50px; font-size:0.9em; padding: 0 0.3em 0; text-align:center; cursor:pointer; }
.remove_img_preview:before { content: "×"; }
label { display: block; }
.form-group textarea { width: 45%; }
.form-group input { width: 45%; }
#preview { margin: 1%; }
.box-header{ padding: 0px; }
 </style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<header class="main-header">
  <?php echo $this->Element('admin_header'); ?>
</header>
<aside class="main-sidebar">
  <?php echo $this->Element('sidebar_admin'); ?>
</aside>
<div class="content-wrapper">
  <section class="content-header header_dashbord">
    <h1>
      Coupon Listing
    </h1>
    <!-- <div class="customer_bts">
      <a href="
        <?php echo HTTP_ROOT ?>Coupons/add" class="scrolltodown">
        <button type="button" class="btn btn-sm btn-info">Add New Coupon</button>
      </a>
    </div> -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box box-info">
      <div class="box-header">
        <div class="box-tools pull-right">
          <a href="<?php echo HTTP_ROOT; ?>Gallery" class="btn btn-sm btn-info btn-flat pull-left">Back </a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body col-sm-12">    
      <div class="uploader__box js-uploader__box l-center-box">
        <form action="" method="POST" enctype="multipart/form-data" id="gallery_form">
          <div class="form-group"> 
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="title" placeholder="Enter title" id="title">
          </div>
          <div class="form-group"> 
            <label for="exampleInputEmail1">Description</label>
            <textarea name="description" placeholder="Description" rows="8"></textarea>
          </div>
          <div class="uploader__contents">
            <label class="button button--secondary" for="fileinput">Select Files</label>   
          <input id="files" type="file" value="" name="image[]" multiple="multiple" />
          <div id="preview"></div>   
          <div id="files_img"></div>
            <!-- <input id="fileinput" name="image" class="uploader__file-input" type="file" multiple value="Select Files"> -->
          </div>
          <input class="button button--big-bottom btn-info btn" id="button_sub" type="button" value="Create gallery">
        </form>
      </div>
      </div>
    </div>
  </section>
</div>
<style type="text/css">
  .delete_icon{ color: red; }
  .edit_icon{ margin-right: 10px; }
</style><!-- 
<script>
(function(){
            var options = {};
            $('.js-uploader__box').uploader(options);
        }());
</script> -->
<script type="text/javascript">

$("#button_sub").click(function(){
    var title = $('#title').val(); 
    var qq = "found";
  if( $.trim(title) == ''){
    alert("Please enter title.");
    return false;
  }else if (jQuery('#files').val() && jQuery('#title').val() ) 
  {
    jQuery.ajax({
            url: 'validatetitle',            
            cache: false,
            type: 'POST',
            data: {'title':title},
            success: function(result){
              qq =  JSON.stringify(result);
              qq = qq.replace('" ', '');
              qq = qq.replace('"', '');
              if(qq ==="found"){
                alert("Gallery with this name already exists.");
               return false;
              }else{
                $("#gallery_form").submit();
              }              
        }
      });
  }else{
    alert("Please enter at least one image.");
    return false;
  }
});
//
  /*var i = 1;
  function handleFileSelect(event) 
{
    var clone = $('#files').clone();
    clone.attr('id', 'field2');
    clone.attr('class', i+1);
    $('#files_img').append(clone);

    console.log(event)
    var input = this;
  if (input.files && input.files[0])
    {
      var reader = new FileReader();
        console.log(reader)
        reader.onload = (function (e)
        {
          var span = document.createElement('span');
        span.innerHTML = ['<img class="thumb" src="',e.target.result, '" title="', escape(e.name), '"/><span valuet="'+i+'" class="remove_img_preview"></span>'].join('');
      document.getElementById('preview').insertBefore(span, null);
      });
        reader.readAsDataURL(input.files[0]);
    }
    $('#files').val('');
    i++;
}*/
//su kien thay doi hinh khac                 
//$('#files').change(handleFileSelect); 
//day la su kien click vao nut x để xóa ảnh
$('#preview').on('click', '.remove_img_preview',function ()
{
  $(this).parent('span').remove();
    $(this).val("");
    var t = $(this).attr( "valuet" );
    $("."+t+"").remove();
});
</script>