<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $orderTracking->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $orderTracking->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Order Trackings'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="orderTrackings form large-9 medium-8 columns content">
    <?= $this->Form->create($orderTracking) ?>
    <fieldset>
        <legend><?= __('Edit Order Tracking') ?></legend>
        <?php
            echo $this->Form->control('driver_id');
            echo $this->Form->control('user_id', ['options' => $users]);
            echo $this->Form->control('order_no');
            echo $this->Form->control('status');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
