 
<style type="text/css">
  .red{
    color:red;
  }
  .success{
    color: green;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
     
      $(".success").fadeOut(4000);
  
  });


          

</script>  
<header class="main-header">
    <?php echo $this->Element('admin_header'); ?>  
</header>
<aside class="main-sidebar">
 <?php echo $this->Element('sidebar_admin'); ?>
</aside>

<div class="content-wrapper">
         <section class="content-header">
              <h1>
                Dashboard
              </h1>
             
              <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
              </ol>
            </section>

    
    <!-- Main content -->
    <section class="content">
      
      <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"> </h3>

              <div class="box-tools pull-right">
                 
                
                 
              </div>
            </div>
            <!-- /.box-header -->
            



          <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title"> </h3>
              </div>
            
            <div class="box-body">

             <div class="row">
                  <div class='col-sm-4'>


                     
 

                <p>Your Dashboard under construction now</p>




                    
            </div> 
          </div> 
        </div> 
      </div> 
    </section>
</div>



